<app-home-navbar></app-home-navbar>


<!-- <div class="row mt-5">
  <div class="col-md-12 col-sm-12">
    <button class="button_login" style="width: 50%;">Login As</button>
  </div>
</div> -->



<div class="content shadow row">

  <div class="col-md-3 col-sm-12">
    

  </div>
  <div class="col-md-3 col-sm-12">
    <button routerLink="/studentLogin" class="floating-right-bottom-btn glow-on-hover">Student</button>

  </div>

  <div class="col-md-3 col-sm-12">
    <button routerLink="/userLogin" class="floating-right-bottom-btn-btn glow-on-hover">User</button>

  </div>

  <div class="col-md-3 col-sm-12">
  

  </div>
</div>



<app-footer></app-footer>