

<div class="content" style="font-family:'Times New Roman', Times, serif;font-size: 20px;">
  <div class="card mb-3 shadow d-flex">
    <!-- <img src="../../assets/images/alok.jpg" alt="..." height="30%" width="30%" class="ml-4"> -->
    <img class="card-img-top" src="{{blogList.imgUrl}}" *ngIf="blogList.imgUrl" height="30%" width="30%" class="card_img ml-4" alt="Card image cap">
  <img class="card-img-top" src="../../assets/images/logo2.png" *ngIf="!blogList.imgUrl" height="30%" width="30%" class="card_img ml-4" alt="Card image cap">


   
   
   
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <p
          style="font-family:'Times New Roman', Times, serif;font-size: 20px;">
            <i class="fa fa-user-secret mr-2 text-danger" aria-hidden></i>  <i>{{blogList.userName}}</i>
          </p>
        </div>
      </div>
      <div class="card shadow d-flex ">
        <h5 class="card-header" style="font-family:'Times New Roman', Times, serif;font-size: 20px;" > <i>Title : </i><b>{{blogList.topic}}</b></h5>
        <div class="card-body">
          <p class="card-text" [innerHtml]="blogList.content" style="font-size: 18px"></p>
          <p class="card-text"><small class="text-muted"> <i class="fa fa-clock-o text-success mr-2"
            aria-hidden="true"></i> {{blogList.time}}</small></p>
          <button class="btn btn-info" routerLink="/adminBlog">Back</button>
        </div>
      </div>
    </div>
  </div>
</div>