<nav class="navbar navbar-dark text-white  justify-content-between" style="background-color:#002b5c; padding: 2px;">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>

    <a class="navbar-brand ml-3 " style="font-family:'Times New Roman', Times, serif;font-size: 22px;"> Bits And Byte Institute of Technology</a>
    <form class="form-inline">

        <a class="btn mr-1" type="button" routerLink="/userBlog" id="dropdownMenu2" data-toggle="dropdown">
            <i class="fa fa-rss text-white fa-2x" style="font-size: 25px;" aria-hidden="true"></i>
        </a>

        <input class="form-control mr-sm-2" type="search" name="searchText" placeholder="Search" aria-label="Search">
        <button class="btn btn-danger mr-1  " type="submit" (click)='logout()'>Log Out</button>
    </form>
</nav>
<!-- SideNav Bar -->

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">
        <img class="avatar mat-elevation-z8" src="../../assets/images/user.jpg" />
        <h4 class="name" style="font-family:'Times New Roman', Times, serif;font-size: 19px;">{{user.name}}</h4>
       
        <mat-divider></mat-divider>

        <a mat-button class="menu-button" routerLink="/userDashboard">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </a>

        <a mat-button class="menu-button" routerLink="/userProfile">
            <mat-icon>person</mat-icon>
            <span>My Profile</span>
        </a>

        <a mat-button class="menu-button" routerLink="/userCourses">
            <mat-icon>file_copy</mat-icon>
            <span>Courses</span>
        </a>

        <a mat-button class="menu-button" routerLink="/createBlog">
            <mat-icon>create</mat-icon>
            <span>Create Blog</span>
        </a>

        <a mat-button class="menu-button" routerLink="/userPendingBlog">
            <mat-icon> near_me</mat-icon>
            <span>Pending Blog</span>
        </a>

    </mat-sidenav>

    <!-- Main Content -->
    <mat-sidenav-content class="content mat-elevation-z8">
        <div class="content" >
            <nav aria-label="breadcrumb" style="font-family:'Times New Roman', Times, serif;font-size: 16px;">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/userDashboard">Home</a></li>
                  <li class="breadcrumb-item " ><a routerLink="/userCourses">Courses</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{courseList.courseName}}</li>
                </ol>
              </nav>
            <div class="card mb-3 shadow d-flex">
                <!-- <img src="../../assets/images/alok.jpg" alt="..." height="30%" width="30%" class="ml-4">
               -->
                 <img class="card-img-top" src="{{courseList.courseImgUrl}}" *ngIf="courseList.courseImgUrl" height="30%" width="30%" class="card_img ml-4" alt="Card image cap">
                        <img class="card-img-top" src="../../assets/images/logo2.png" *ngIf="!courseList.courseImgUrl"
                        height="30%" width="30%" class="card_img ml-4" alt="Card image cap">
              
                <div class="card-body">
                    <div class="card shadow d-flex mt-2">
                        <h5 class="card-header" style="font-family:'Times New Roman', Times, serif;font-size: 20px;"><i><b>{{courseList.courseName}}</b></i></h5>
                        <div class="card-body">
                            <p class="card-text" style="font-family:'Times New Roman', Times, serif;font-size: 18px;" [innerHtml]="courseList.courseDescription"></p>
                            <button class="btn btn-info" routerLink="/userCourses">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>